@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

 body {
    font-family: "Montserrat", sans-serif !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    height: 600px;
    width: 300px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif ;
}

/* Header */
.Logo{
    background-color: #45BCA0;
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo img{
        height: auto;
        width: 118px;
}
.seleccion{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
      
}
.gray{
  background-color: #E7E7E7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  color: #50575F;
}
.gray h6{
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  
}
.gray b{
  font-weight: 600;
}
.Title{
  color:  #50575F;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
}
.Title h5{
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
  border:solid #32C0B1 2px;
  
  padding-top: 10px;
  padding-bottom: 10px;
}
/*.Title h5::before {
  content: "";
  color: #32C0B1;
  font-weight: 200;
  font-size: 4rem;
}
.Title h5::after {
  content: "]"  
  color: #32C0B1;
  font-weight: 200;
  font-size: 4rem;
}*/
.Title b{
  font-weight: 600;
}
.Title hr{
  margin-right: 45px;
  margin-left: 45px;
}

.seleccion{
  margin-left: 25px;
  margin-right: 25px;
}
.seleccion h1{
  font-size: 24px;
  color: #45BCA0;
}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border: solid 1px #20A093;
  border-radius: 25px;
  margin-bottom: 25px;
}
select {
  width: 100%;
  height: 37px;
  margin: 0;
  border:0;
  padding: 0 0 0 .5em;
  color: #2c3e50;
  background: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #fff;
  pointer-events: none;
  color: #50575F; 
}
/* Transition */
.select:hover::after {
  color: #20A093;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* form starting stylings ------------------------------- */
.group        { 
  position:relative; 
  margin-bottom:45px; 
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #50575F;
  width: 233px;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#20A093;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:246px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#20A093; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#20A093; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#20A093; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#20A093; }
  to  { width:0; background:transparent; }
}
/*Botón */
button{
  padding: 15px 25px 15px 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  background-color: #00FFFF;
  color: #fff;
  border: none;
}

.action{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;

}
/* Resultado */
.header .Title{
  height: 66px;
  width: 300px;
  background-color: #50575F;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

}
.resultado h5{
  
  color: #fff;
  font-size: 21px;
  font-weight:600;
  letter-spacing: 2px;

}
/* Footer */

footer{
  background-color: #50575F;
  text-align: center;
  padding: 5px 0 5px 0;
}
footer a{
  color:#00FFFF;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  
}